!!!
%html
  %head
    %meta(charset="utf-8")
    %title Cis
    %meta(name="description" content="Description of Cis.")
    %link(rel="stylesheet" href="cis.css")
    %script(src="cis.js")
  %body
    %h1 This is <tt>cis.haml</tt>.
